cffi>=1.14.5
click>=7.1.2
cryptography>=3.4.7
Flask>=1.1.2
Flask-SQLAlchemy>=2.5.1
greenlet>=1.0.0
importlib-metadata>=3.10.1
itsdangerous>=1.1.0
Jinja2>=2.11.3
MarkupSafe>=1.1.1
pycparser>=2.20
PyMySQL>=1.0.2
SQLAlchemy>=1.4.7
typing-extensions>=3.7.4.3
Werkzeug>=1.0.1
zipp>=3.4.1
