html {
    background-color: ghostwhite !important;
    padding: 5px;

}

h1 {
    text-transform: capitalize;
}

body {
    background-color: ghostwhite !important;
    padding: 30px;

}

button {
    margin: 10px 10px 10px 0px !important;
    max-width: 240px;

}

.landing-title{
    text-align: center;
}
.landing-box {
    display: flex;
    flex-direction: column;

    margin-right:auto;
    margin-left:auto;
}

.landing-box > button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 140px !important;
}
.input-submit {
    margin: 10px 10px 10px 0px !important;

}