<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if id is defined %}
    <form action="/create/aircraft/{{ id }}", method="post">
{% else %}
    <form action="/create/aircraft", method="post">
{% endif %}

{% if id is defined %}
    <h2>Aircraft ID: {{ id }}</h2>
{% endif %}

<form>
    <label for="a_class">Class:</label><br>
    <input type="text" id="a_class" name="a_class" value="{{ a_class }}"><br>

    <label for="type">Type:</label><br>
    <input type="type" id="type" name="type" value="{{ type }}"><br>

    <label for="identification">Identification:</label><br>
    <input type="text" id="identification" name="identification" value="{{ identification }}"><br>


    <label for="category">Category:</label><br>
    <select id="category" name="category" value="{{ category }}" type="text">
        <option selected hidden>{{ category }}</option>
        <option value="airplane">airplane</option>
        <option value="rotorcraft">rotorcraft</option>
        <option value="glider">glider</option>
        <option value="powered parachute">powered parachute</option>
        <option value="lighter than air">lighter than air</option>
        <option value="powered lift">powered lift</option>
        <option value="weight shift control">weight shift control</option>
    <input type="submit" value = "Submit">
    </select>
</form>


{% if id is defined %}
    <button  class="btn btn-danger" onclick = "window.location.href= '/delete/aircraft/{{ id }}'" type="button" name = "delete">Delete</button>
    <button  class="btn btn-primary" onclick = "window.location.href= '/list/log/aircraft/{{ id }}'" type="button" name = "aircraft logs">View Aicraft Logs</button>
{% endif %}
<button  class="btn btn-secondary" onclick="window.location.href = '/'" type = "button" name = "home">Return to Landing</button>
<button  class="btn btn-secondary" onclick="window.location.href = '/list/aircraft'" type = "button" name = "aircraftlist">Return to List</button>

</body>
</html>