<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if id is defined %}
    <form action="/create/user/{{ id }}", method="post">
{% else %}
    <form action="/create/user", method="post">
{% endif %}

{% if id is defined %}
    <h2>User ID: {{ id }}</h2>
{% endif %}

    <label for="first_name">First name:</label><br>
    <input type="text" id="first_name" name="first_name" value="{{ first_name }}"><br>
    <label for="last_name">Last name:</label><br>
    <input type="text" id="last_name" name="last_name" value="{{ last_name }}"><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="{{ username }}"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value="{{ password }}"><br>

    <label for="date_of_birth">Date of Birth:</label><br>
    <input type="date" id="date_of_birth" name="date_of_birth" value="{{ date_of_birth }}"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="{{ email }}"><br>

    <input type="submit" value = "Submit">

</form>

{% if id is defined %}
    <button onclick = "window.location.href= '/delete/user/{{ id }}'" type="button" name = "delete">Delete</button>
{% endif %}
<button onclick="window.location.href = '/'" type = "button" name = "home">Return to Landing</button>
<button onclick="window.location.href = '/list/user'" type = "button" name = "userlist">Return to List</button>
{% if id is defined %}
    <button onclick = "window.location.href= '/list/log/{{ id }}'" type="button" name = "User List">View User's Logs</button>
{% endif %}

</body>
</html>